/* GENERAL */
html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

*{
    box-sizing: border-box;
}

/* HEADER */
.navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: lightslategray;
}

.navbar--list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar--item{
    padding: 7px 12px;
}

.navbar--item a{
    transition: color 0.3s ease;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.navbar--item a:hover{
    color: midnightblue;
}

/* INSTAGRAM */
.post-list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(100px,293px));
    gap:3px;
    padding-top: 40px;
}

.post{
    position: relative;
    display: block;
}

.post:hover .post--overlay{
    display: flex;
}

.post--image{
    margin: 0;
}

.post--image img{
    width: 100%;
    vertical-align: top;
}

.post--overlay{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.post--likes, .post--comments{
    display: inline-block;
    width: 80px;
    margin: 5px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}


@media screen and (min-width:768px){
    .post-list{
        gap: 28px;
    }
}

/* PINTEREST */

.pin-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, 310px);
    gap: 5px;
    justify-content: center;
    padding-top: 40px;
}

.pin-item{
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

img{
    width: 100%;
}

.level-1{
    grid-row: span 1;
}
.level-2{
    grid-row: span 2;
}
.level-3{
    grid-row: span 3;
}

/* PLATZI */

.platzi-container{
    display: grid;
    grid-template-columns: minmax(auto,1024px);
    justify-content: center;
    font-family: 'Lato', sans-serif;
    padding: 40px 15px;
    background-color: #23475b;
    color: #fff;
}

.platzi-wrap{
    display: grid;
    grid-template-areas: "badge title" "description description" "form form" "countdown countdown" ;
    grid-template-columns:70px 1fr;
    gap: 10px;
}

.badge{
    grid-area: badge;
}

.badge img{
    max-width: 70px;
}

.title{
    grid-area: title;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 36px;
    font-weight: normal;
}

.description{
    grid-area: description;
}

.form{
    grid-area: form;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 24px;
    border-radius: 10px;
}

label{
    display: inline-block;
    margin-bottom: 12px;
    font-size: 20px;
    color: #3a3b3f;
}

input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dbdbe2;
    border-radius: 5px;
}

button{
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color:#fff;
    background-color: #98ca3f;
    border: none;
    border-bottom: 5px solid #6d932b;
    border-radius:5px;
}

.countdown{
    grid-area: countdown;
}

.countdown p{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.countdown span{
    font-size: 33px;
}

.countdown span:not(:last-child):after{
   content: ':';
   display: inline-block;
   margin: 0 5px;
}

@media(min-width:768px){
    .platzi-wrap{
        display: grid;
        grid-template-areas: "badge title form" ". description form" ". countdown form";
        grid-template-columns:70px 1fr 320px;
        gap: 10px;
    }
}